<div id="wrapper" style="width: 920px; height: 450px;">
    <img width="920" height="450" src="images/world-map.jpg" alt="World continents">

    <div class="pin pin-down" data-xpos="170" data-ypos="100">
        <h2>North America</h2>
        <ul>
            <li><b>Area (km?):</b> 24,490,000</li>
            <li><b>Population:</b> 528,720,588</li>
            <li>{{81/9}}</li>
        </ul>
    </div>

    <div class="pin" data-xpos="270" data-ypos="320">
        <h2>South America</h2>
        <ul>
            <li><b>Area (km?):</b> 17,840,000</li>
            <li><b>Population:</b> 382,000,000</li>

        </ul>
    </div>


    <div class="pin pin-down" data-xpos="450" data-ypos="110">
        <h2>Europe</h2>
        <ul>
            <li><b>Area (km?):</b> 10,180,000</li>
            <li><b>Population:</b> 731,000,000 </li>

        </ul>
    </div>

    <div class="pin" data-xpos="450" data-ypos="250">
        <h2>Africa</h2>
        <ul>
            <li><b>Area (km?):</b> 30,370,000</li>
            <li><b>Population:</b> 1,022,011,000</li>

        </ul>
    </div>

    <div class="pin pin-down" data-xpos="650" data-ypos="130">
        <h2>Asia</h2>
        <ul>
            <li><b>Area (km?):</b> 43,820,000</li>
            <li><b>Population:</b> 3,879,000,000</li>

        </ul>
    </div>

    <div class="pin pin-down" data-xpos="750" data-ypos="310">
        <h2>Australia</h2>
        <ul>
            <li><b>Area (km?):</b> 9,008,500</li>
            <li><b>Population:</b> 31,260,000</li>

        </ul>
    </div>

    <div style="left:170px;top:100px" class="tooltip-down">
        <div class="tooltip" style="display: none;">
            <h2>North America</h2>
            <ul>
                <li><b>Area (km?):</b> 24,490,000</li>
                <li><b>Population:</b> 528,720,588</li>

            </ul>
        </div>
    </div>
    <div style="left:270px;top:320px" class="tooltip-up">
        <div class="tooltip" style="display: none;">
            <h2>South America</h2>
            <ul>
                <li><b>Area (km?):</b> 17,840,000</li>
                <li><b>Population:</b> 382,000,000</li>

            </ul>
        </div>
    </div>
    <div style="left:450px;top:110px" class="tooltip-down">
        <div class="tooltip" style="display: none;">
            <h2>Europe</h2>
            <ul>
                <li><b>Area (km?):</b> 10,180,000</li>
                <li><b>Population:</b> 731,000,000 </li>

            </ul>
        </div>
    </div>
    <div style="left:450px;top:250px" class="tooltip-up">
        <div class="tooltip" style="display: none;">
            <h2>Africa</h2>
            <ul>
                <li><b>Area (km?):</b> 30,370,000</li>
                <li><b>Population:</b> 1,022,011,000</li>

            </ul>
        </div>
    </div>
    <div style="left:650px;top:130px" class="tooltip-down">
        <div class="tooltip" style="display: none;">
            <h2>Asia</h2>
            <ul>
                <li><b>Area (km?):</b> 43,820,000</li>
                <li><b>Population:</b> 3,879,000,000</li>

            </ul>
        </div>
    </div>
    <div style="left:750px;top:310px" class="tooltip-down">
        <div class="tooltip" style="display: none;">
            <h2>Australia</h2>
            <ul>
                <li><b>Area (km?):</b> 9,008,500</li>
                <li><b>Population:</b> 31,260,000</li>

            </ul>
        </div>
    </div>
</div>