<!-- just for testing -->
<header>
    <div class="wrapper">
       <a href="#"><img id="logo" src="images/logo3.png" alt="logo" title="Just FaceIT !" /></a>
        <span id="usernav"><a href="#">Logout</a> - <a href="#">Settings</a> - <a href="#">My Profile<span><img src="images/user_avatar_s.jpg" /></span></a>
        </span>
    </div>
</header>

<nav>
    <ul id="n" class="clearfix">
        <li ng-class="{sel: hover1}" ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false"><a href="#">Homepage</a></li>
        <li ng-class="{sel: hover2}" ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false"><a href="#">Profile</a></li>
        <li ng-class="{sel: hover3}" ng-mouseenter="hover3 = true" ng-mouseleave="hover3 = false"><a href="#">Highscore</a></li>
        <li ng-class="{sel: hover4}" ng-mouseenter="hover4 = true" ng-mouseleave="hover4 = false"><a href="#">Achievements</a></li>
        <li ng-class="{sel: hover5}" ng-mouseenter="hover5 = true" ng-mouseleave="hover5 = false"><a href="#/game">Game</a></li>
        <li ng-class="{sel: hover6}" ng-mouseenter="hover6 = true" ng-mouseleave="hover6 = false"><a href="#">Advance Statistics</a></li>
    </ul>
</nav>

<div id="content" class="clearfix">
    <section id="left">
        <div id="userStats" class="clearfix">
            <div class="pic">
                <a href="#"><img src="images/user_avatar.jpg" width="150" height="150" /></a>
            </div>

            <div class="data">
                <h1>Johny Bravo</h1>
                <h3>San Francisco, CA</h3>
                <h4><a href="http://www.misys.com/">http://www.misys.com/</a></h4>
                <div class="sep"></div>
                <ul class="numbers clearfix">
                    <li>Games<strong>185</strong></li>
                    <li>Score<strong>344</strong></li>
                    <li class="nobrdr">Rank<strong>127</strong></li>
                </ul>
            </div>
        </div>

        <h1>About Me:</h1>
        <p>YOLO ............................wsefgusdfgusygfusgdfusgdfusgdfus fdyryryryryryryryryryryryryryryryryryryryrhoreeeeeeeeee e rgtregtuebrieghihgeir</p>
    </section>

    <section id="right">
        <div class="gcontent">
            <div class="head">
                <h1>Badges(3)</h1></div>
            <div class="boxy">
                <p>Keep working to unlock badges!</p>
				<!-- TODO replace with our own badges-->
                <div class="badgeCount">
                    <a href="#"><img src="images/foursquare-badge.png" /></a>
                    <a href="#"><img src="images/foursquare-badge.png" /></a>
                    <a href="#"><img src="images/foursquare-badge.png" /></a>
                </div>

                <span><a href="#">See all…</a></span>
            </div>
        </div>

        <div class="gcontent">
            <div class="head">
                <h1>Something List</h1></div>
            <div class="boxy">
                <p>Your something (maybe Misys values ...)- 66 total</p>
				<div ng-controller="UserController">
					<input type="file" text="Add image" image-model="myFile"/>
					<button ng-click="uploadFile()">Upload Image</button>
				</div>
                <span><a href="#">See all...</a></span>
            </div>
        </div>
    </section>
</div>